@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 15px;
  margin-top: 104px;

  @include respond(tablet) {
    grid-template-columns: 385px 310px;
    margin-top: 77px;
  }
  @include respond(mobile) {
    display: flex;
    flex-direction: column;
    margin-top: 52px;
  }

  & > * {
    border: 1px solid black;
  }
}

.h1 {
  font-family: "NewYorkerC 400";
  font-size: 84px;
  font-weight: 400;

  color: $accent-color;

  @include respond(tablet) {
    font-size: 54px;
  }
  @include respond(mobile) {
    font-size: 52px;
    text-align: center;
    width: 339px;
  }
}

.p {
  display: block;
  width: 276px;
  font-size: 16px;
  margin-top: 56px;

  line-height: 20.8px;

  @include respond(tablet) {
    margin-top: 35px;
  }

  @include respond(mobile) {
    width: 296px;
    text-align: center;
    margin-top: 35px;
  }
}
