@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "h1 h1 img img"
    "p p img img"
    "btn btn img img"
    "adv adv img img";
  font-size: 15px;
  margin-top: 104px;

  &::after {
    content: "";
    position: absolute;

    z-index: -3;
    right: -25px;

    top: -150px;
    width: 300px;
    height: 300px;
    background-image: url("/assets/flower.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @include respond(tablet) {
      right: -90px;
      top: -130px;
      transform: scale(0.85);
    }
    @include respond(mobile) {
      display: none;
    }
  }

  @include respond(tablet) {
    margin-top: 75px;
    grid-template-columns: auto auto 155px 155px;
  }
  @include respond(mobile) {
    margin-top: 52px;
    grid-template-areas:
      "h1"
      "btn"
      "img"
      "p"
      "adv";
  }
}

.h1 {
  grid-area: h1;
  max-width: 579px;
  color: $accent-color;

  @include respond(tablet) {
    font-size: 54px;
  }
  @include respond(mobile) {
    text-align: center;
  }
}

.p {
  grid-area: p;
  max-width: 276px;
  margin-top: 56px;

  @include respond(tablet) {
    margin-top: 32px;
  }

  @include respond(mobile) {
    margin-top: 32px;
    justify-self: center;
    max-width: 296px;
    text-align: center;
  }
}

.btnContainer {
  grid-area: btn;
  position: relative;

  @include respond(desktop) {
    margin-left: 60%;
    top: 20%;
  }

  @include respond(tablet) {
    margin-left: 55%;
    margin-top: 5%;
    top: 25%;
  }

  @include respond(mobile) {
    grid-area: img;
    margin-top: 15%;
    margin-left: auto;
  }
}

.advContainer {
  grid-area: adv;

  @include respond(mobile) {
    margin-top: 48px;
  }
}

.imgContainer {
  grid-area: img;
  align-self: self-end;
  @include respond(desktop) {
    margin-left: auto;
  }

  @include respond(mobile) {
    grid-area: img;
    margin-top: 64px;
  }
}
