@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "h1 h1 img img"
    "p p img img"
    "btn btn img img"
    "adv adv img img";
  font-size: 15px;
  margin-top: 104px;

  &::after {
    content: "";
    position: absolute;

    z-index: -3;
    right: -25px;

    top: -150px;
    width: 300px;
    height: 300px;
    background-image: url("/assets/flower.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @include respond(tablet) {
      right: -90px;
      top: -130px;
      transform: scale(0.85);
    }
    @include respond(mobile) {
      display: none;
    }
  }

  @include respond(tablet) {
    margin-top: 75px;
    grid-template-columns: auto auto 155px 155px;
  }
  @include respond(mobile) {
    margin-top: 52px;
    grid-template-areas:
      "h1"
      "btn"
      "img"
      "p"
      "adv";
  }
}

.h1 {
  font-family: "NewYorkerC 400";
  font-size: 84px;
  font-weight: 400;
  max-width: 579px;
  color: $accent-color;

  @include respond(tablet) {
    font-size: 54px;
  }
  @include respond(mobile) {
    font-size: 48px;
    text-align: center;
  }
}

.p {
  display: block;
  width: 276px;
  font-size: 16px;
  line-height: 20.8px;
  @include respond(mobile) {
    width: 296px;
    text-align: center;
  }
}

.btnContainer {
  grid-area: btn;
  justify-self: end;
  position: relative;
  margin-right: 10%;
  margin-top: 20px;

  @include respond(tablet) {
    margin-right: 10%;
    margin-top: 6%;
  }

  @include respond(mobile) {
    margin-right: 15px;
  }
}

.pContainer {
  grid-area: p;
  margin-top: 56px;

  @include respond(tablet) {
    margin-top: 32px;
  }

  @include respond(mobile) {
    margin-top: 32px;
    justify-self: center;
  }
}

.advContainer {
  grid-area: adv;

  @include respond(mobile) {
    margin-top: 48px;
  }
}

.imgContainer {
  grid-area: img;
  @include respond(desktop) {
    justify-self: end;
  }
}
