@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 15px;
  letter-spacing: 5%;
  margin-top: 115px;

  @include respond(tablet) {
    margin-top: 77px;
  }
  @include respond(mobile) {
    margin-top: 52px;
  }

  & > * {
    //border: 1px solid black;
  }
}

.h1 {
  font-family: "NewYorkerC 400";
  font-size: 84px;
  font-weight: 400;
  color: $accent-color;
  margin-top: 11px;
}
