@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 15px;
  letter-spacing: 5%;
  margin-top: 115px;

  @include respond(tablet) {
    margin-top: 77px;
  }
  @include respond(mobile) {
    margin-top: 52px;
  }

  & > * {
    //border: 1px solid black;
  }
}

.h1 {
  font-family: "NewYorkerC 400";
  font-size: 84px;
  font-weight: 400;
  letter-spacing: 0.7%;
  color: $accent-color;

  @include respond(tablet) {
    font-size: 54px;
  }
  @include respond(mobile) {
    font-size: 52.8px;
    text-align: center;
  }
}

.p {
  width: 276px;
  font-size: 16px;
  line-height: 20.8px;

  @include respond(mobile) {
    width: 296px;
    text-align: center;
  }
}
