@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  display: grid;

  @include respond(desktop) {
    margin-top: 120px;
    align-items: end;
    justify-content: space-between;
    grid-template-areas:
      "h p"
      "schedule img";
  }
  @include respond(tablet) {
    margin-top: 108px;
    grid-template-areas:
      "h p"
      "schedule schedule";
  }
  @include respond(mobile) {
    margin-top: 88px;
    grid-template-areas:
      "h"
      "p"
      "schedule";
  }
}

.h {
  grid-area: h;
  font-family: "NewYorkerC 400";
  color: $accent-color;
  max-width: 657px;

  @include respond(tablet) {
    max-width: 341px;
  }
  @include respond(mobile) {
    max-width: 326px;
  }
}

.p {
  grid-area: p;
  max-width: 404px;
  justify-self: end;

  @include respond(tablet) {
    max-width: 337px;
  }
  @include respond(mobile) {
    margin-top: 24px;
    max-width: 100%;
    justify-self: start;
  }
}

.schedule {
  grid-area: schedule;
  max-width: 712px;
  margin-top: 72px;

  @include respond(tablet) {
    max-width: 100%;
    margin-top: 56px;
  }
  @include respond(mobile) {
    margin-top: 64px;
  }
}

.img {
  grid-area: img;
  margin-top: 72px;

  @include respond(desktop) {
    width: 407px;
    height: 478px;
    background-image: url("/assets/schedule.png");
    background-repeat: no-repeat;
    background-size: auto;
  }

  @include respond(tablet) {
    margin-top: 56px;
  }
  @include respond(mobile) {
    margin-top: 64px;
  }
}
