@import "../../../styles/variables";
@import "../../../styles/mixins.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 6px;

  @include respond(tablet) {
    column-gap: 5px;
    & > img {
      width: 48px;
      height: 48px;
    }
  }
  @include respond(mobile) {
    column-gap: 4px;
    font-size: 10px;
    & > img {
      width: 41px;
      height: 41px;
    }
  }

  & > span {
    color: $accent-color;
    font-family: $bookman-400;
    font-size: 12px;
  }
}
