@import "../../../styles/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 6px;

  & > span {
    color: $accent-color;
    font-family: $bookman-400;
  }
}
