@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  display: grid;
  margin-top: 120px;

  @include respond(tablet) {
    margin-top: 100px;
  }
  @include respond(mobile) {
    margin-top: 88px;
  }

  // & > * {
  //   border: 1px solid black;
  // }
}
