@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  display: grid;
  margin-top: 120px;

  @include respond(tablet) {
    margin-top: 100px;
  }
  @include respond(mobile) {
    margin-top: 88px;
  }

  // & > * {
  //   border: 1px solid black;
  // }
}

.h {
  font-family: "NewYorkerC 400";
  width: 692px;
  color: $accent-color;
  font-size: 48px;
  font-weight: 400;
  line-height: 57.6px;
  letter-spacing: 0.7%;

  @include respond(tablet) {
    width: 428px;
    font-size: 30px;
    line-height: 36px;
  }
  @include respond(mobile) {
    width: 307px;
    font-size: 26px;
    line-height: 31.2px;
  }
}

.p {
  font-size: 20px;
  line-height: 26px;
  width: 362px;
  @include respond(desktop) {
    margin-right: 45px;
  }

  @include respond(tablet) {
    width: 245px;
    font-size: 14px;
    line-height: 18.2px;
  }
  @include respond(mobile) {
    font-size: 16px;
    line-height: 20.8px;
    width: 273px;
  }
}

.topContent {
  display: flex;
  justify-content: space-between;

  @include respond(mobile) {
    flex-direction: column;
    row-gap: 32px;
  }
}

.bottomContent {
  display: grid;
  grid-template-areas: "btns img info";
  margin-top: 72px;
  grid-auto-flow: column;
  justify-content: space-between;

  @include respond(desktop) {
    grid-template-columns: 319px 346px 407px;
  }

  @include respond(tablet) {
    grid-template-areas:
      "btns btns"
      "img info";
    margin-top: 56px;
    grid-template-columns: 1fr;
  }
  @include respond(mobile) {
    grid-template-areas:
      "btns"
      "img"
      "info";

    margin-top: 56px;
  }
}

.btnsContainer {
  grid-area: btns;
  display: flex;
  gap: 8px;
  height: fit-content;
  white-space: nowrap;
  flex-wrap: wrap;

  @include respond(tablet) {
    justify-content: center;
  }

  @include respond(mobile) {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: 0px;
}

.imgContainer {
  grid-area: img;
  width: 346px;
  height: 493px;
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s;
  border-radius: 173px 173px 192.5px 0px;
  background-repeat: no-repeat;

  @include respond(tablet) {
    width: 312px;
    height: 422px;
    margin-top: 32px;
  }
  @include respond(mobile) {
    width: 100%;
    height: 258px;
    margin-top: 24px;

    border-radius: 129px 0px 0px 0px;
  }
}

.infoContainer {
  grid-area: info;
  width: 407px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond(tablet) {
    width: 338px;
    margin-top: 32px;
  }
  @include respond(mobile) {
    width: 100%;
    margin-top: 34px;
  }
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 31.2px;

  @include respond(tablet) {
    font-size: 15px;
  }
  @include respond(mobile) {
    font-size: 15px;
  }
}
.schedule {
  font-size: 16px;
  line-height: 20.8px;
  display: flex;
  gap: 22px;

  & > img {
    width: 24px;
    height: 24px;
  }
}

.duration {
  font-size: 16px;
  line-height: 20.8px;
  display: flex;
  gap: 22px;
  margin-top: 16px;

  @include respond(mobile) {
    font-size: 13px;
  }

  & > img {
    width: 24px;
    height: 24px;
  }
}

.description {
  font-size: 16px;
  line-height: 20.8px;

  @include respond(tablet) {
    font-size: 14px;
  }
  @include respond(mobile) {
    font-size: 13px;
  }
}
