@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  position: relative;
  display: grid;
  margin-top: 120px;

  @include respond(tablet) {
    margin-top: 100px;
  }
  @include respond(mobile) {
    margin-top: 88px;
  }
  @include respond(desktop) {
    &::before {
      content: "";
      position: absolute;
      z-index: -3;
      left: 50px;
      bottom: -35px;
      width: 429px;
      height: 280px;

      background-image: url("/assets/flower2.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  // & > * {
  //   border: 1px solid black;
  // }
}
