@mixin respond($screen) {
  @if $screen == mobile {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
  @if $screen == tablet {
    @media only screen and (min-width: 768px) and (max-width: 1299px) {
      @content;
    }
  }
  @if $screen == desktop {
    @media only screen and (min-width: 1300px) {
      @content;
    }
  }
}
