@import "./fonts.scss";

// Colors
$accent-color: #637d61;
$bg-color: #fefbf7;
$text-color: #5b6158;
$secondary-color: #98958b;

// Fonts
$bookman-400: "Bookman 400";
$raleway-400: "Raleway 400";
$raleway-600: "Raleway 600";
