@font-face {
  font-family: "Bookman 400";
  src: url("/fonts/bookMan/BookMan-regular.ttf");
}

@font-face {
  font-family: "Raleway 400";
  src: url("/fonts/raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway 600";
  src: url("/fonts/raleway/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: "NewYorkerC 400";
  src: url("/fonts/newYorkerC/NewYorkerC-regular.ttf");
}
