@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  display: grid;
  position: relative;
  grid-template-areas:
    "h text"
    "cost cost";
  margin-top: 120px;

  @include respond(desktop) {
    grid-template-columns: 530px auto;
  }

  @include respond(tablet) {
    grid-template-columns: 336px 1fr;
    margin-top: 100px;
  }
  @include respond(mobile) {
    margin-top: 88px;
    grid-template-areas:
      "h"
      "text"
      "cost";
  }
}

.h {
  grid-area: h;
  font-family: "NewYorkerC 400";
  color: $accent-color;
  width: 530px;
  font-size: 48px;
  letter-spacing: 1%;
  line-height: 62.4px;
  font-weight: 400;

  @include respond(tablet) {
    width: 336px;
    font-size: 30px;
    letter-spacing: 0.7%;
    line-height: 36px;
  }
  @include respond(mobile) {
    width: 327px;
    font-size: 26px;
    letter-spacing: 0.7%;
    line-height: 31.2px;
  }
}

.textContent {
  font-size: 14px;
  line-height: 17.5px;
  grid-area: text;
  display: grid;
  justify-self: start;

  grid-template-areas:
    "p1"
    "p2";

  @include respond(desktop) {
    margin-left: 262px;
    margin-right: 25px;
  }
  @include respond(tablet) {
    margin-left: 21px;
  }

  @include respond(mobile) {
    grid-template-areas:
      "p2"
      "p1";
  }

  & > :nth-child(1) {
    grid-area: p1;
    @include respond(tablet) {
      width: 338px;
    }
    @include respond(mobile) {
      margin-top: 8px;
    }
  }
  & > :nth-child(2) {
    grid-area: p2;
    @include respond(desktop) {
      margin-top: 9px;
    }
    @include respond(tablet) {
      width: 261px;
      margin-top: 16px;
    }
    @include respond(mobile) {
      margin-top: 24px;
    }
  }
}

.costContainer {
  grid-area: cost;
  display: grid;
  margin-top: 72px;

  & > * {
    //border: 1px solid black;
  }

  @include respond(desktop) {
    row-gap: 48px;
    grid-template-columns: 240px 346px 407px;
    grid-template-areas:
      "costBase cost1 cost2"
      "btn cost3 cost4";
  }

  @include respond(tablet) {
    column-gap: 20px;
    row-gap: 32px;
    grid-template-areas:
      "costBase cost1"
      "cost2 cost3"
      "cost4 btn";
  }
  @include respond(mobile) {
    margin-top: 56px;
    row-gap: 37px;
    grid-template-areas:
      "costBase btn"
      "cost1 cost1"
      "cost2 cost2"
      "cost3 cost3"
      "cost4 cost4";
  }
}

.btn {
  margin-top: auto;
  grid-area: btn;
  background-color: $accent-color;
  color: $bg-color;
  padding-inline: 67px;
  padding-top: 22px;
  padding-bottom: 22px;
  height: 58px;
  width: 240px;
  font-size: 15px;
  letter-spacing: 5%;

  @include respond(tablet) {
    width: 240px;
    height: 58px;
    background-color: inherit;
    color: $accent-color;
    border-color: $accent-color;
    justify-self: end;
  }

  @include respond(mobile) {
    width: 191px;
    height: 49px;
    font-size: 13px;
    padding: 15px 40px 15px 40px;
    justify-self: end;
  }
}

.costBase {
  grid-area: costBase;
  @include respond(tablet) {
    margin-bottom: 4px;
  }
}

.cost1 {
  grid-area: cost1;
  @include respond(desktop) {
    margin-left: 126px;
  }
}

.cost2 {
  grid-area: cost2;
  @include respond(desktop) {
    margin-left: 126px + 82px;
  }
}

.cost3 {
  grid-area: cost3;
  @include respond(desktop) {
    margin-left: 126px;
  }
}

.cost4 {
  grid-area: cost4;
  @include respond(desktop) {
    margin-left: 126px + 82px;
  }
}
