@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

div {
  font-family: "Raleway 400";
}

.h1 {
  font-family: "NewYorkerC 400";
  font-size: 84px;
  line-height: 100.8px;
  letter-spacing: 0.7%;

  @include respond(tablet) {
    font-size: 54px;
    line-height: 59.4px;
  }

  @include respond(mobile) {
    font-size: 48px;
    line-height: 52.8px;
  }
}

.h2 {
  font-family: "NewYorkerC 400";
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 0.7%;

  @include respond(tablet) {
    font-size: 32px;
    line-height: 36px;
  }

  @include respond(mobile) {
    font-size: 26px;
    line-height: 31.2px;
  }
}

.h3 {
  font-family: "Raleway 600";
  font-size: 24px;
  line-height: 31.2px;

  @include respond(tablet) {
    font-size: 15px;
    line-height: 19.5px;
  }

  @include respond(mobile) {
    font-size: 15px;
    line-height: 19.5px;
  }
}

.h4 {
  font-family: "Raleway 400";
  font-size: 20px;
  line-height: 26px;

  @include respond(tablet) {
    font-size: 14px;
    line-height: 18.2px;
  }

  @include respond(mobile) {
    font-size: 16px;
    line-height: 20.8px;
  }
}

.p1 {
  font-family: "Raleway 400";
  font-size: 16px;
  line-height: 20.8px;
}

.p2 {
  font-family: "Raleway 400";
  font-size: 14px;

  @include respond(mobile) {
    font-size: 13px;
  }
}

.p3 {
  font-family: "Raleway 400";
  font-size: 10px;

  @include respond(mobile) {
    font-size: 10px;
  }
}

.button {
  font-family: "Raleway 400";
  font-size: 15px;

  @include respond(tablet) {
    font-size: 12px;
  }
  @include respond(mobile) {
    font-size: 15px;
  }
}

.menu {
  font-family: "Raleway 400";
  font-size: 13px;

  @include respond(mobile) {
    font-size: 13px;
  }
}
