@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.container {
  display: grid;
  padding: 24px 0;
  border-top: 1px solid #d9d9d9;
  column-gap: 24px;
  transition: all $transition;

  grid-template-columns: min-content auto;
  grid-template-areas:
    "i question"
    "i answer";

  @include respond(tablet) {
    column-gap: 8px;
  }

  &IsActive {
    padding: 32px 0;

    @include respond(tablet) {
      padding: 29px 0;
    }
    @include respond(mobile) {
      padding: 24px 0;
    }
  }
}

.i {
  position: relative;
  align-self: flex-start;
  grid-area: i;
  width: 28px;
  height: 28px;
  border: 1px solid #98958b;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  transition: all $transition;

  &IsActive {
    background-color: $accent-color;
  }

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 12px;
    top: 50%;
    left: 50%;
    transition: all $transition;
    transform: translate(-50%, -50%);
    background-color: #98958b;
  }

  &IsActive::before {
    background-color: $bg-color;
  }

  &::after {
    content: "";
    position: absolute;
    height: 12px;
    width: 1px;
    top: 50%;
    left: 50%;
    transition: all $transition;
    transform: translate(-50%, -50%) rotate(180deg);
    background-color: #98958b;
  }

  &IsActive::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bg-color;
    transition: all $transition;
  }
}

.question {
  grid-area: question;
  cursor: pointer;
  @include respond(tablet) {
    font-size: 16px;
  }
  @include respond(mobile) {
    font-size: 15px;
  }
}

.answer {
  grid-area: answer;
  width: 530px;
  max-height: 0px;
  transition: all 0.15s ease-in;
  overflow: hidden;

  @include respond(tablet) {
    width: 269px;
    margin-left: 5px;
  }

  @include respond(mobile) {
    width: 283px;
    font-size: 14px;
  }

  &IsActive {
    max-height: 200px;
    margin-top: 23px;
    @include respond(tablet) {
      margin-top: 6px;
    }
    @include respond(mobile) {
      margin-top: 11px;
    }
  }
}
