@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
  width: 346px;

  @include respond(tablet) {
    width: 338px;
  }

  @include respond(mobile) {
    width: 100%;
  }
}

.cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%h {
  font-size: 42px;
  line-height: 50.4px;
  letter-spacing: 0.7%;

  @include respond(tablet) {
    font-size: 32px;
    line-height: 38.4px;
  }
  @include respond(mobile) {
    font-size: 32px;
    line-height: 38.4px;
  }
}
%text {
  font-size: 16px;
  line-height: 20.8px;
  @include respond(tablet) {
    font-size: 14px;
    line-height: 16.8px;
  }
  @include respond(mobile) {
    font-size: 14px;
    line-height: 16.8px;
  }
}
%leftContent {
  display: flex;
  gap: 8px;

  & > span:nth-child(1) {
    @extend %h;
  }

  & > span:nth-child(2) {
    @extend %text;
    width: 67px;
  }
}
.leftTopContent {
  @extend %leftContent;
  align-items: end;
}

.rightTopContent {
  @extend %h;
  font-family: "Raleway 300";
  display: flex;
  align-items: end;
}

.monthCost {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.timeCost {
  border-top: 1px solid #98958b;
  display: flex;
  justify-content: space-between;
  color: $accent-color;
}

.leftBottomContent {
  @extend %leftContent;
  align-items: baseline;
}

.rightBottomContent {
  @extend %h;
  font-family: "Raleway 300";
  display: flex;
  align-items: end;
}

.containerBase {
  width: 123px;

  @include respond(tablet) {
    width: 92px;
  }

  @include respond(mobile) {
    width: 83px;
  }
}

.baseTop {
  font-size: 45px;
  font-family: "Raleway 300";
  letter-spacing: 0.7%;
  line-height: 52.83px;

  @include respond(tablet) {
    font-size: 32px;
    line-height: 37.57px;
  }
  @include respond(mobile) {
    font-size: 32px;
    line-height: 37.57px;
  }
}

.dividerBase {
  background-color: #98958b;
  width: 115px;
  height: 1px;
  margin-top: 8px;

  @include respond(tablet) {
    width: 91px;
  }
  @include respond(mobile) {
    width: 83px;
  }
}

.baseBottom {
  display: flex;
  align-items: baseline;
  gap: 8px;

  & > :nth-child(1) {
    font-size: 36px;

    @include respond(tablet) {
      font-size: 32px;
    }
  }

  & > :nth-child(2) {
    font-size: 16px;
  }
}
