@import "../../styles/variables.scss";

.container {
  display: grid;
  grid-template-columns: 579px auto;
}

.h1 {
  font-family: "NewYorkerC 400";
  font-size: 84px;
  letter-spacing: 0.7%;
  font-weight: 400;
  color: $accent-color;
  margin-top: 11px;
}

.img {
  position: relative;
  width: 488px;
  height: 604px;
  justify-self: end;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: -140px;
    left: 250px;
    z-index: -1;
    width: 300.85px;
    height: 300.49px;
    background-image: url("/public/assets/flower.svg");

    background-repeat: no-repeat;
  }
}

.flower {
  position: absolute;
  width: 229.85px;
  height: 174.49px;
  top: 400px;
  left: 400px;
}
