@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.topContent {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;

  @include respond(mobile) {
    flex-direction: column;
    row-gap: 32px;
  }
}

.h {
  max-width: 692px;
  color: $accent-color;

  @include respond(tablet) {
    max-width: 418px;
  }
  @include respond(mobile) {
    max-width: 307px;
  }
}

.p {
  max-width: 362px;
  @include respond(desktop) {
    margin-right: 45px;
  }

  @include respond(tablet) {
    max-width: 245px;
  }
  @include respond(mobile) {
    max-width: 273px;
  }
}
