@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.burger {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 30px;
  user-select: none;
  cursor: pointer;

  & > div {
    width: 30px;
    height: 0px;
    border-bottom: 2px solid $accent-color;
    border-radius: 10px;
  }

  @include respond(desktop) {
    display: none;
  }
}
