@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.burger {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 30px;
  cursor: pointer;
  user-select: none;

  &:active {
    transform: scale(0.9);
  }

  & > div {
    width: 30px;
    height: 0px;
    border-bottom: 2px solid $accent-color;
    border-radius: 10px;
  }

  &.active::before {
    transform: translateY(8px) rotate(45deg);
  }

  &.active::after {
    transform: translateY(-8px) rotate(-45deg);
  }

  @include respond(desktop) {
    display: none;
  }
}
