@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
.list {
  display: none;
  align-items: center;
  justify-content: space-between;
  column-gap: 26px;
  font-size: 13px;
  letter-spacing: 5%;

  & > li > a:hover {
    color: $accent-color;
  }

  @include respond(desktop) {
    display: flex;
  }
}
