@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
.list {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: end;
  row-gap: 10px;
  z-index: 10;
  background-color: $accent-color;
  padding: 30px 30px;
  width: auto;
  border-radius: 10px 0px 10px 10px;
  & > li > a {
    color: $bg-color;
  }
  @include respond(desktop) {
    display: flex !important;
    position: static;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 26px;
    align-items: center;
    background-color: inherit;
    color: $text-color;
    font-size: 13px;
    opacity: 1 !important;
    letter-spacing: 5%;
    & > li > a {
      color: $text-color;
    }
    & > li > a:hover {
      color: $accent-color;
    }
  }
}

.hide {
  display: flex;
  animation: hide $transition forwards;
}

.active {
  display: flex;
  animation: open $transition forwards;
}

@keyframes open {
  0% {
    color: white;
    top: 40px;
    right: 0px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    color: white;
    top: 50px;
    right: 10px;
  }
}

@keyframes hide {
  0% {
    top: 50px;
    right: 10px;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    top: 40px;
    right: 0px;
    opacity: 0;
  }
}
