@import "./styles/variables.scss";
@import "./styles/mixins.scss";

html {
  box-sizing: border-box;
  color: $text-color;
  background-color: $bg-color;
  font-family: $raleway-400;
  scroll-behavior: smooth;
}

a {
  color: $text-color;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  list-style: none;
}

img {
  display: block;
}

a:visited {
  color: inherit;
}

body {
  position: relative;
  @include respond(desktop) {
  }
  @include respond(tablet) {
  }
  @include respond(mobile) {
  }
}

.wrapper {
  margin: 0 auto;
  border: 1px solid red;

  @include respond(desktop) {
    margin-top: 26px;
    max-width: 1194px;
  }
  @include respond(tablet) {
    margin-top: 19px;
    max-width: 697px;
  }
  @include respond(mobile) {
    margin-top: 48px;
    max-width: 345px;
  }
}
