@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.button {
  position: relative;
  width: 111px;
  height: 111px;
  background-color: $accent-color;
  border-radius: 50%;
  display: flex;
  align-self: end;
  align-items: center;
  margin-inline: auto;
  justify-content: center;
  font-size: 12px;
  color: white;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-image: url("/assets/flower-button.svg");
    background-repeat: no-repeat;
    background-size: 100px;
    transition: all 0.5s ease;
  }

  &:hover::after {
    transform: translate(-50%, -50%) scale(2.3);
  }

  @include respond(desktop) {
    width: 155px;
    height: 155px;
    font-size: 15px;

    &:hover::after {
      transform: translate(-50%, -50%) scale(3.3);
    }
  }
}
