@import "../../../styles/_variables.scss";

.button {
  position: relative;
  width: 155px;
  height: 155px;
  background-color: $accent-color;
  border-radius: 50%;
  display: flex;
  align-self: end;
  align-items: center;
  margin-inline: auto;
  justify-content: center;
  color: white;
  transition: all 0.5s ease;

  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-image: url("/public/assets/flower-button.svg");
    background-repeat: no-repeat;
    background-size: 100px;
    transition: all 0.5s ease;
  }

  &:hover::after {
    transform: translate(-50%, -50%) scale(3.5);
  }
}
