@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.img {
  z-index: -2;
  position: relative;
  width: 488px;
  height: 650px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 0.4s;
  @include respond(tablet) {
    width: 100%;
    height: 418px;
  }
  @include respond(mobile) {
    width: 100%;
    height: 380px;
    background-position: center;
  }
}

.sliderContainer {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  @include respond(tablet) {
    gap: 5px;
  }
  @include respond(mobile) {
    display: none;
  }
}

.currentImg {
  color: $accent-color;
  font-size: 16px;
  letter-spacing: 7%;
  line-height: 16.44px;
}
