@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  display: grid;
  & > * {
    //border: 1px solid black;
  }

  margin-top: 120px;
  grid-template-areas:
    "h p"
    "coachSlider coachSlider";

  @include respond(tablet) {
    margin-top: 115px;
  }
  @include respond(mobile) {
    & br {
      display: none;
    }
    margin-top: 10px;
    grid-template-areas:
      "h"
      "p"
      "coachSlider";
  }
}

.h {
  grid-area: h;
  color: $accent-color;
  max-width: 588px;
  @include respond(desktop) {
    & br {
      display: none;
    }
  }
  @include respond(tablet) {
    max-width: 259px;
  }
  @include respond(mobile) {
    max-width: 326px;
  }
}

.p {
  grid-area: p;
  max-width: 407px;
  justify-self: end;

  @include respond(tablet) {
    max-width: 338px;
  }
  @include respond(mobile) {
    max-width: 327px;
    justify-self: start;
    margin-top: 24px;
  }
}
